<option value="programming">Programming</option>
<option value="web Design">Web Design</option>
<option value="programs">Programs</option>
<option value="general">General</option>
<option value="scientific">Scientific</option>
<option value="technology">Technology</option>
<option value="security">Security</option>
<option value="cars">cars</option>

<option value="politics">Politics</option>
<option value="sports">Sports</option>
<option value="international">International</option>
<option value="local">Local</option>
<option value="men">Men</option>
<option value="women">Women</option>
<option value="health">Health</option>
<option value="fashion">fashion</option>
<option value="cultural">Cultural</option>
<option value="art">Art</option>


{#<option value=""></option>#}
{#<option value=""></option>#}