<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        {% extends 'layout.html' %}
        {% block body %}
            <div class="container">
                <form method="post" action="{{ url_for('account_information') }}">
                    <input type="email" name="email" class="form-control text-center" value="{{request.form.email}}" placeholder="Your email here" style="margin: 20px auto 10px; width: 35%;" autocomplete="off">
                    <input type="submit" class="btn btn-danger text-center" value="Send Account Information" style="margin: 0 auto; display: block">
                </form>
                <br>
                <br>
                <form method="post" action="{{ url_for('reset_password') }}">
                    <input type="email" name="email" class="form-control text-center" value="{{request.form.email}}" placeholder="Your email here" style="margin: 20px auto 10px; width: 35%;" autocomplete="off">
                    <input type="submit" class="btn btn-danger text-center" value="Forget Password" style="margin: 0 auto; display: block">
                </form>
                <form method="post" action="{{ url_for('reset_passe') }}">
                    <input type="email" name="email" class="form-control text-center" value="{{request.form.email}}" placeholder="Your email here" style="margin: 20px auto 10px; width: 35%;" autocomplete="off">
                    <input type="submit" class="btn btn-danger text-center" value="Forget Password" style="margin: 0 auto; display: block">
                </form>
                <form method="post" action="{{ url_for('reset_passu') }}">
                    <input type="text" name="text" class="form-control text-center" value="{{request.form.text}}" placeholder="Your username here" style="margin: 20px auto 10px; width: 35%;" autocomplete="off">
                    <input type="submit" class="btn btn-danger text-center" value="Forget Password" style="margin: 0 auto; display: block">
                </form>
            </div>
        {% endblock %}
    </body>
</html>