<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        {% extends 'layout.html' %}
        {% block body %}
            <h1 class="text-center">Reset Your Password</h1>
            <br>
            <div class="container">
                <form method="post" action="{{ url_for('reset_password2') }}">
                    <input type="hidden" name="id" value="id">
                    <input type="password" name="password" class="form-control text-center" value="{{request.form.password}}" style="margin: 20px auto 10px; width: 35%;" autocomplete="off">
                    <input type="submit" class="btn btn-danger text-center" value="Reset Password" style="margin: 0 auto; display: block">
                </form>
            </div>
        {% endblock %}
    </body>
</html>