<!-- Page Footer-->
<footer class="main-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <p>OSAMA MOHAMED &copy; 2017-2019</p>
        </div>
        <div class="col-sm-6 text-right">
          <p>Developed by <a href="https://github.com/OSAMAMOHAMED1234" class="external" target="_blank">OSAMA MOHAMED</a></p>
        </div>
      </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../../static/js/active_url.js"></script>